@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/*NULL CSS*/
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/*NULL CSS END*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-title-container {
    margin-top: 5%;
}

.header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FE6100;
    margin-bottom: -50px;
}


.header-text-container {
    margin-top: 50px;
    width: 60%;
}

.header-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #0F1D3E;
    margin-top: 50px;
}

.header-sec-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0F1D3E;
    margin-bottom: 50px;
    margin-top: 50px;
}

.copy-caontainer {
    display: flex;
}

.copy-butt {
    display: flex;
    justify-content: space-between;
    width: 150px;
    background: #0F1D3E;
    border-radius: 40px;
    border-color: #0F1D3E;
    z-index: 1;
}

.copy-butt-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 15px;
}

.arrow-butt {

}

.copy-link {
    display: flex;
    justify-content: start;
    width: 696px;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #0F1D3E;
    border-radius: 40px;
}

.link {
    color: black;
    text-decoration: none;
    margin-top: 22px;
    margin-left: 10px;
}


.buttonSocial1 {
    width: 166px;
    height: 64px;
    left: 421px;
    top: 613px;
    background: #FE6100;
    border-radius: 40px;
    border-color: #FE6100;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
}

.buttonSocial2 {
    margin-left: 50px;
    width: 166px;
    height: 64px;
    left: 421px;
    top: 613px;
    background: #FE6100;
    border-radius: 40px;
    border-color: #FE6100;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
}

.socialImg {
    margin-right: 10px;
    margin-top: 7px;
}

.title-between {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #858991;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-plash-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 80%;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
}


.plash-container {
    margin-left: 20px;
    display: flex;
    justify-content: start;
    min-width: 400px;
    width: auto;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 3px 5px 18px rgba(172, 177, 192, 0.25);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.plash-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 10px 5px 10px;
}

.plash-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #0F1D3E;
}

.plash-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #858991;
}


.tabs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.graph-wrapper {
    display: flex;
    width: 90%;
    margin-top: 100px;
    justify-content: space-around;
}

.graph-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
}

.graph-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-left-top {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(25deg);
}

.line-left-center {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(0deg);
}

.line-left-bottom {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(160deg);
}

.line-right-top {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(160deg);
}

.line-right-center {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(0deg);
}

.line-right-bottom {
    width: 110px;
    height: 2px;

    border: 1px solid #DADADA;
    transform: rotate(25deg);
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #0F1D3E;
}

.img-graph {
    margin-bottom: 10px;
}

.footer-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.butt-google {
    margin-top: 110px;
}